<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Twit">
<head>
    <title>Chirp! Chirp!</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-3" id="left" ng-controller="LoginTweet">
            <div id="login-or-post-tweet">
                <div id="login" ng-hide="$root.loggedIn" class="container">
                    <div class="well">
                        <p>Register new account:</p>
                        <input type="text" class="form-control" ng-model="regName" placeholder="Name" />
                        <input type="button" class="btn btn-info form-control wide" ng-click="Register()" value="Register" />
                        <br /><br />
                        <p>Or log in:</p>
                        <input type="text" id="logName" ng-model="logName" placeholder="Name" class="form-control" onkeyup="Utilities.ValidateLogin()" />
                        <input type="text" id="idNumber" ng-model="idNumber" placeholder="ID #" class="form-control" onkeyup="Utilities.ValidateLogin()" />
                        <input type="button" class="btn btn-success form-control wide" ng-click="Login()" value="Log In" id="loginButton" disabled />
                    </div>
                </div>
                <div id="tweet" ng-show="$root.loggedIn" class="container">
                    <div class="well">
                        <p>Posting As: {{$root.user['Name']}} (ID# {{$root.user['Id']}})</p>
                        <textarea id="tweetText" class="form-control" ng-model="tweet" rows="3" cols="20" placeholder="Tweet! Tweet!"></textarea>
                        <input type="button" class="btn btn-success form-control" ng-click="Tweet()" value="Post" />
                    </div>
                </div>
            </div>

            <div id="following-box" class="container" ng-show="$root.loggedIn">
                <div class="well">
                    <h1>Following</h1>
                    <input type="text" class="form-control" ng-model="searchFollowers" placeholder="Search" /><br />
                    <ul class="personList">
                        <li ng-repeat="person in Following | filter : searchFollowers : person['Name']">
                            <div class="PersonTile btn btn-default" ng-click="go(person['Id'])">
                                <img src="{{person['ImgUrl']}}">
                                <div class="PersonTileInnerText">
                                    <p>{{person["Name"]}}</p>
                                    <p><small>(ID: {{person["Id"]}})</small></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="center" ng-view>
            <div class="container">
                <div class="well">
                    <h1>Tweets</h1>
                </div>
            </div>

        </div>
        <div class="col-md-3" ng-controller="People" id="people">
            <div class="container">
                <div class="well" id="twitWell">
                    <h1>Twits</h1>
                    <input type="text" class="form-control" ng-model="searchPerson" placeholder="Search" /><br />
                    <div ng-show="$root.user">
                        <input type="checkbox" ng-model="justFollowers" /> Only show followers.
                    </div><br />
                    <div ng-show="showLoading"><span class="glyphicon glyphicon-refresh fa-spin" ng-hide="loading"></span> Loading...</div>
                    <ul class="personList">
                        <li ng-repeat="person in people | filter : searchPerson : person['Name']" ng-show="isFollower(person['Id'])">
                            <div class="PersonTile btn btn-default" ng-click="go(person['Id'])">
                                <img src="{{person['ImgUrl']}}">
                                <div class="PersonTileInnerText">
                                    <p>{{person["Name"]}}</p>
                                    <p><small>(ID: {{person["Id"]}})</small></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../Scripts/angular-resource.min.js"></script>
    <script src="scripts/Utilities.js"></script>
    <script src="scripts/index.js"></script>
</body>
</html>
