<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Twit">
<head>
    <title>Chirp! Chirp!</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-3" id="left">
            <div id="login-or-post-tweet" ng-controller="LoginTweet">
                <div id="login" ng-hide="loggedIn" class="container">
                    <div class="well">
                        <p>Register new account:</p>
                        <input type="text" class="form-control" ng-model="regName" placeholder="Name" />
                        <input type="button" class="btn btn-info form-control wide" ng-click="Register()" value="Register" />
                        <br /><br />
                        <p>Or log in:</p>
                        <input type="text" ng-model="logName" placeholder="Name" class="form-control" />
                        <input type="text" ng-model="logNumber" placeholder="ID #" class="form-control" />
                        <input type="button" class="btn btn-success form-control wide" ng-click="Login()" value="Log In" />
                    </div>
                </div>
                <div id="tweet" ng-show="loggedIn" class="container">
                    <div class="well">
                        <p>Posting As: {{user}}</p>
                        <textarea id="tweetText" class="form-control" ng-model="tweet" rows="3" cols="20" placeholder="Tweet! Tweet!"></textarea>
                        <input type="button" class="btn btn-success form-control" ng-click="Tweet()" value="Post" />
                    </div>
                </div>
            </div>
            <div id="following-box" class="container">
                <div class="well">
                    <h1>Following</h1>
                </div>
            </div>

        </div>
        <div class="col-md-6" id="center" ng-view>
            <div class="container">
                <div class="well">
                    <h1>Tweets</h1>
                </div>
            </div>

        </div>
        <div class="col-md-3" ng-controller="People" id="people">
            <div class="container">
                <div class="well" id="twitWell">
                    <h1>Twits</h1>
                    <input type="text" class="form-control" ng-model="searchPerson" placeholder="Search" /><br />
                    <div ng-show="showLoading"><span class="glyphicon glyphicon-refresh fa-spin" ng-hide="loading"></span> Loading...</div>
                    <!--{{people[0]["Name"]}}-->
                    <ul class="personList">
                        <li ng-repeat="person in people | filter : searchPerson : person['Name']">
                            <div class="PersonTile btn btn-default">
                                <img src="{{person[img]}}">
                                <div class="PersonTileInnerText">
                                    <p>{{person["Name"]}}</p>
                                    <p></p><small>(ID: {{person["Id"]}})</small></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../Scripts/angular-resource.min.js"></script>
    <script src="../Scripts/htmlWrappers.js"></script>
    <script src="scripts/index.js"></script>
</body>
</html>
