<h1>Tweets</h1>
<input type="text" class="form-control" ng-model="searchTweets" placeholder="Search" /><br />
<div ng-show="showLoading"><span class="glyphicon glyphicon-refresh fa-spin" ng-hide="loading"></span> Loading...</div>
<ul class="tweetList">
    <li ng-repeat="tweetObj in Tweets | filter : searchTweets : tweetObj['Tweet'] | orderBy : tweetObj['Tweet']['Timestamp']">
        <blockquote class="TweetTile container">
            <a href="#/twit/{{tweetObj['Tweet']['AuthorId']}}"><img src="{{tweetObj['Image']}}"></a>
            <div class="TweetTileInnerText">
                <h1><a href="#/twit/{{tweetObj['Tweet']['AuthorId']}}">{{tweetObj['Tweet']['AuthorName']}} (ID: {{tweetObj['Tweet']['AuthorId']}}) said: </a></h1>
                <p>{{tweetObj['Tweet']['Body']}}</p>
                <p><small><a href="#/tweet/{{tweetObj['Tweet']['Id']}}">{{getTimestampString(tweetObj['Tweet']['Timestamp'])}}</a></small></p>
            </div>
        </blockquote>
    </li>
</ul>