<div class="container">
    <div ng-show="showLoading"><span class="glyphicon glyphicon-refresh fa-spin" ng-hide="loading"></span> Loading...</div>
    <div ng-hide="showLoading" class="twitTweets">
        <h1>{{twit['Name']}}'s Tweets</h1>
        <input type="text" class="form-control" ng-model="searchTweets" placeholder="Search" /><br />
        <div ng-show="showLoading"><span class="glyphicon glyphicon-refresh fa-spin" ng-hide="loading"></span> Loading...</div>
        <ul class="tweetList">
            <li ng-repeat="tweet in twit['Tweets'] | filter : searchTweets : tweet['Body']">
                <blockquote class="TweetTile container">
                    <a href="#/twit/{{twit['Id']}}">
                        <img src="{{twit['ImgUrl']}}">
                    </a>
                        <div class="TweetTileInnerText">
                            <h1><a href="#/twit/{{twit['Id']}}">{{twit['Name']}} (ID: {{twit['Id']}}) said: </a></h1>
                            <p>{{tweet['Body']}}</p>
                            <p><small><a href="#/tweet/{{tweet['Id']}}">{{tweet['Timestamp']}} </a></small></p>
                        </div>
</blockquote>
            </li>
        </ul>
    </div>
</div>
