body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#login > .well, #tweet > .well {
    height:23em;
    width:23em;
    float:right;
    margin-bottom:2em;
}

#following-box > .well {
    width:23em;
    float:right;
}

#people > well {

}

ul.personList {
    list-style-type:none;
    padding:0;
}

ul.personList img {
    height:5em;
    width:5em;
    border-radius:.25em;
    float:left;
    margin-right:1em;
}

/*ul.personList p {
    float:left;
    font-size:16pt;
}*/

div.PersonTile {
    width:20em;
    overflow-x:hidden;
    margin-bottom:1em;
}

div.PersonTile > small {
    float:left;
    clear:left;
}

div.PersonTileInnerText {
    text-align:left;
    float:left;
}

div.PersonTileInnerText > p {
    font-size:16pt;
    margin-bottom:0em;
}

div.PersonTileInnerText > small {
    font-size:10pt;
}

#twitWell {
    width:23em;
}

div.profile > img {
    width:15em;
    height:15em;
    border: .15em solid black;
    border-radius:.5em;
    float:left;
}

div.profile > div.textBlock {
    float:left;
    margin-left:2em;
}

.tweetList {
    list-style-type:none;
    padding:0;
}
.tweetList  img {
    width:3em;
    height:3em;
    border-radius:.45em;
    float:left;
}

.tweetList .TweetTileInnerText {
    float:left;
    position:relative;
    top:-1.5em;
    margin-left:.5em;
}

.tweetList h1, .tweetList small {
    font-size:8pt;
}

.tweetList p {
}

.TweetTile {
    clear:left;
}

.blank {
    text-align:center;
}